<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie App</title>
  <link rel='stylesheet' href='stylesheets/main.css'>
</head>
<body>

  <div class="nav_bar">
    <a href="/">Home</a>
    <a href="/about">About</a>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>