  
<h1>Movie Information</h1>
<p class="movie_info">Movie Name: <%= @title %></p>
<p class="movie_info">Released Year: <%= @released %></p>
<p class="movie_info">Actors: <%= @actors %></p>
<img src="<%= @poster %>" alt="">

